ul {	
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	overflow: hidden;
	background-color: #7d88e8;
	
}

li {
    float: right;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;

}

li a:hover {
	background-color: #111;

}

body {
	background-color:#16476A;
}

h1 {
   color: white;
   text-align: center;

}

p {
  font-family: verdana;
  font-size: 20px;

}

.center-form {
	height: 800;
    width: 300px;   /* required */
    margin: auto;
	position: relative;
    top: 200px;
    
 }
  
 .big-textbox {
    width: 200px;   /* makes it wider */
    height: 20px;   /* makes it taller */
    font-size: 18px; /* increases text size */
    padding: 8px;
 }
 
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container1 {
  background-color: #b3b4c4;
  width: 400px;
  height: 400px;
  position: relative;
  top: 100px;   /* moves down 20px */
  left: 600px;
}

.img-size {
    width: 300px;
    height: 300px;

}

.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	
}

.card{
	width: 325px;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin: 50px;
	
}

.card img{
		width:100%;
		height: auto;
}

.card-content{
	padding: 16px;
}

.card-content{
	font-size: 28px;
	margin-bottom: 8px;
}

.card-content p{
	color:#666;
	font-size: 15px;
	line-height: 1.3;
}

.card-content .btn{
	display: inline-block;
	padding: 8px 16px;
	background-color: #333;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
	color: #fff;
}
/* rules page slider*/
.slider-container{
	margin-top: 150px;
	margin-bottom: 100px;
	margin-bottom: 50px;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-images{
	display: flex;
	align-items: center;
	gap: 21px;
}
.slider-images img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
	
}
.slider-img{
	width: 110px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	transition: 0.7s case;
	
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
	height:480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
	height:560px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
	height:665px;
}	
.details h1{
	font-family: "jost", sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: rotate(270deg);
	transition: 0.7s case;
}
.details{
	position: absolute;
	bottom: 43px;
	left: 43px;
}
.details h2{
	font-family: "jost", sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-align: left;
	line-height: 44px;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	transition: 0.7s case;
	display: none;
}
.details p{
	font-family: "jost", sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	line-height: 33px;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	transition: 0.7s case;
	display: none;
}
.slider-img.active{
	width: 766px !important;
	height: 750px !important;
}
.slider-img.active h1{
	display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
	display: block;
}	
	
	
	
	
/* footer details */

footer{
	width: 100%;
	background-color: black;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footerContainer{
	height: 250px;
	width: 100%;
	padding: 40px 30px 20px;
}

.socialIcons{
	display: flex;
	justify-content: center;
}
.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 20px;
	border-radius: 50%;
	
}
.socialIcons a i{
	font-size: 2em;
	color: black;
	opacity: 0.9;
	
}
.socialIcons a:hover{
	background-color: #111;
	transition: 0.5s;
	
}
.socialIcons a:hover i{
	color: white;
	transition: 0.5s;
	
}
.footerNav{
	margin: 20px 0;
	
}

.footerNav ul{
	display: flex;
	justify-content: center;
	background-color: black;
}

.footerNav ul li a{

	color: white;
	margin: 10px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footerNav ul li a:hover{
	opacity: 1;
}
.footerBottom{
	background-color: #000;
	padding: 20px;
	text-align: center;
	
}
.footerBottom p{
	color: white;
	
}
.designer{
	width: 100%;
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}